name: CI
on: [push]


jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run tests
        run: echo 'Running tests...'

  deploy_staging:
    runs-on: ubuntu-latest
    needs: build_and_test
    steps:
      - name: Deploy
        run: echo 'Deploying to staging...'
